* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family:  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15181a;
  color: #F8F8F2;
  max-width: 100%;
  
}
a{
  text-decoration: none;
  color: inherit;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

textarea {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* neumorphism button */
.neu-button{
  box-shadow: inset -5px -5px 8px #0d0f10,
              inset 5px 5px 8px #353b42;
}
.neu-button:hover {
  cursor: pointer;
box-shadow: inset 5px 5px 8px #0d0f10,
            inset -5px -5px 8px #353b42;

}

.neu-div{
  border-radius: 30px;
  background: #212529;
  box-shadow: inset -5px -5px 8px #15181a,
              inset 5px 5px 8px #2d3238;
 
}

.neu-div:hover{
  box-shadow: inset 5px 5px 8px #15181a,
  inset -5px -5px 8px #2d3238;
  
}


.neu-concave{
  /* border-radius: 50%; */
  box-shadow: inset 5px 5px 8px #15181a,
  inset -5px -5px 8px #2d3238;


}

.neu-concave:hover{
  box-shadow: inset -5px -5px 8px #15181a,
  inset 5px 5px 8px #2d3238;
}



/* //hover changes */








